
.border {
    fill: none;
}

.hole {
    fill: #5a6670;
}

.peg {
    fill: #6cf;
}

.peg.selected {
    fill: #ff66db;
}

.peg-group:hover .border {
    fill: #5a6670;
}

.selected {
    fill: #6cf;
}